# Notion 认证信息
NOTION_TOKEN_V2=你的_token_v2_值
NOTION_P_SYNC_SESSION={"tokenId":"你的_sync_session_token","userIds":["你的用户ID"]}
NOTION_SPACE_ID=你的空间ID
NOTION_USER_ID=你的用户ID
NOTION_SPACE_VIEW_ID=你的空间视图ID
NOTION_CSRF=你的CSRF_token
NOTION_DEVICE_ID=你的设备ID
NOTION_BROWSER_ID=你的浏览器ID

# 服务配置
PORT=3000
API_KEY=sk-notion2api
